@import "../../variables.scss";
.activate-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.activate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black-bg;
  border-radius: 20px;
  padding: 20px 40px;
  border: $red-border;
}

.activate h2 {
  font-family: $title-font;
  font-size: 45px;
  color: $font-color;
}

.activate p {
  font-family: $main-font;
  font-size: 30px;
  color: $error-color;
  margin: 20px 0;
}

.activate button {
  border: $red-border;
  border-radius: 0px 20px 0px 20px;
  padding: 10px 20px;
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  background-color: $black-bg;
  color: $font-color;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: rgb(50, 0, 0);
    color: white;
    border-color: red;
  }
  &:active {
    transform: translate(2px, 2px);
  }
}
@media (max-width: 970px), (max-height: 550px) {
  .activate {
    padding: 15px 30px;
  }
  .activate h2 {
    font-size: 35px;
  }
  .activate p {
    font-size: 22px;
    margin: 12px 0;
  }
  .activate button {
    border-radius: 0px 15px 0px 15px;
    padding: 5px 15px;

    font-size: 22px;
  }
}

@media (max-width: 550px), (max-height: 300px) {
  .activate {
    padding: 10px 15px;
  }
  .activate h2 {
    font-size: 25px;
  }
  .activate p {
    font-size: 15px;
    margin: 12px 0;
  }
  .activate button {
    border-radius: 0px 7px 0px 7px;
    padding: 5px 15px;

    font-size: 19px;
  }
}
