@import "../../../variables.scss";
select option:first-child {
  display: none; /* Ukrywa pierwszą opcję */
}

.sort-wrap {
  position: fixed;
  left: 10px;
  top: 50%;
  width: 200px;
  transform: translateY(-50%);
}
.sortBy {
  padding: 20px 10px;
  border: $red-border;
  border-radius: 20px 20px 0 0;
  text-align: center;
  font-family: $title-font;
  color: $font-color;
  background-color: $black-bg;

  & h3 {
    font-size: 20px;
    padding-bottom: 5px;
  }
}
#options {
  width: 100%;
  text-align: center;
  border: $red-border;
  border-width: 1px;
  border-radius: 5px;
  background-color: $black-bg;
  color: $font-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 17px;
  cursor: pointer;
  &:focus {
    border-color: red;
    outline: none;
  }
  & option {
    background-color: $black-bg;
    color: black;
  }

  & option:checked {
    background-color: $dark-red;
    color: white;
    font-weight: bold;
  }
}

.sortIcons {
  padding: 20px 10px;
  margin-top: 20px;
  border: $red-border;
  border-radius: 0 0 20px 20px;
  font-family: $title-font;
  color: $font-color;
  background-color: $black-bg;
  text-align: center;
  & h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }
}
.sortIcons-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.sortIcons label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  border: $red-border;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 5px;

  &:active {
    border-color: red;
  }
  & input[type="checkbox"]:checked + span {
    color: white;
  }
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $black-bg;
  margin: 0;
  color: $dark-red;
  width: 50%;
  height: 70%;
  border: 2px solid $dark-red;
  border-radius: 7px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em red;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
@media (max-width: 970px), (max-height: 550px) {
  .sort-wrap {
    top: 0;
    left: 0;
    transform: translateY(0);
    width: auto;
  }
  .sortBy {
    padding: 5px 10px;
    border-radius: 0 0 20px 0px;
    border-top: none;
    border-left: none;
    & h3 {
      font-size: 15px;
    }
  }
  .sortIcons {
    padding: 5px;
    margin-top: 35px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    width: 80px;
    & h3 {
      font-size: 15px;
      padding-bottom: 8px;
    }
  }
  .sortIcons-boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
  }
  .sortIcons label {
    font-size: 22px;
  }
}
@media (max-width: 700px), (max-height: 400px) {
  .sortBy {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    & h3 {
      font-size: 11px;
      white-space: nowrap;
      padding-bottom: 0;
      margin-right: 5px;
    }
  }
  #options {
    font-size: 14px;
  }
  .sortIcons {
    padding: 2px;
    margin-top: 10px;
    border-radius: 0 7px 7px 0;
    border-width: 2px;
    width: 60px;
    & h3 {
      font-size: 11px;
    }
  }
  .sortIcons-boxes {
    gap: 6px;
  }
  .sortIcons label {
    font-size: 18px;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 550px), (max-height: 300px) {
  .sortBy {
    padding: 3px 5px;
    border-radius: 0 0 7px 0px;
    & h3 {
      font-size: 9px;
    }
  }
  #options {
    font-size: 11px;
  }
  .sortIcons {
    padding: 2px;
    margin-top: 5px;
    width: 50px;
    & h3 {
      font-size: 9px;
    }
  }
  .sortIcons-boxes {
    gap: 5px;
  }
  .sortIcons label {
    font-size: 14px;
    border-radius: 2px;
    padding: 0 2px;
  }
  input[type="checkbox"] {
    border-width: 1px;
    border-radius: 2px;
  }
}
@media (max-width: 400px) {
  .sortBy {
    flex-direction: column;

    & h3 {
      margin-bottom: 2px;
      margin-right: 0;
    }
  }
  #options {
    font-size: 9px;
  }
  .sortIcons {
    margin-top: 10px;
    width: 30px;
    & h3 {
      font-size: 7px;
    }
  }
  .sortIcons-boxes {
    gap: 10px;
  }
  .sortIcons label {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-top: 2px;
  }
}
