@import "../../variables.scss";

.ResetPassword-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.ResetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black-bg;
  border-radius: 20px;
  padding: 20px 40px;
  border: $red-border;
}

.ResetPassword h2 {
  font-family: $title-font;
  font-size: 45px;
  color: $font-color;
  margin-bottom: 25px;
}
.ResetPassword form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ResetPassword input {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $dark-red;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-family: $main-font;
  color: $font-color;
}
.ResetPassword button {
  width: 80%;
  border: $red-border;
  border-radius: 0px 20px 0px 20px;
  padding: 10px 20px;
  margin: 20px 0 10px 0;
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  background-color: $black-bg;
  color: $font-color;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: rgb(50, 0, 0);
    color: white;
    border-color: red;
  }
  &:active {
    transform: translate(2px, 2px);
  }
}
.ResetPassword p {
  font-family: $main-font;
  font-size: 20px;
  color: $error-color;
}
