@import "../../variables.scss";

.ResetPassword-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.ResetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black-bg;
  border-radius: 20px;
  padding: 20px 40px;
  border: $red-border;
}

.ResetPassword h2 {
  font-family: $title-font;
  font-size: 45px;
  color: $font-color;
  margin-bottom: 25px;
}
.ResetPassword form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ResetPassword input {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $dark-red;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-family: $main-font;
  color: $font-color;
}
.ResetPassword button {
  width: 80%;
  border: $red-border;
  border-radius: 0px 20px 0px 20px;
  padding: 10px 20px;
  margin: 20px 0 15px 0;
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  background-color: $black-bg;
  color: $font-color;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: rgb(50, 0, 0);
    color: white;
    border-color: red;
  }
  &:active {
    transform: translate(2px, 2px);
  }
}
.ResetPassword p {
  font-family: $main-font;
  font-size: 20px;
  color: $error-color;
}
@media (max-width: 970px), (max-height: 550px) {
  .ResetPassword {
    padding: 15px 30px;
  }
  .ResetPassword h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .ResetPassword input {
    width: 90%;

    padding: 5px;
    margin: 5px 0;
    font-size: 18px;
  }
  .ResetPassword button {
    width: auto;

    border-radius: 0px 15px 0px 15px;
    padding: 5px 15px;
    margin: 20px 0 13px 0;
    font-size: 22px;
  }
  .ResetPassword p {
    font-size: 18px;
  }
}

@media (max-width: 550px), (max-height: 300px) {
  .ResetPassword {
    padding: 7px 12px;
  }
  .ResetPassword h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .ResetPassword input {
    width: 100%;

    padding: 5px;

    font-size: 16px;
  }
  .ResetPassword button {
    border-radius: 0px 7px 0px 7px;
    padding: 4px 10px;
    border-width: 2px;
    margin: 10px 0 8px 0;
    font-size: 18px;
  }
  .ResetPassword p {
    font-size: 15px;
  }
}
