@import "../../variables.scss";
.title-wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-family: $title-font;
  color: $font-color;
  border: $red-border;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  background-color: $black-bg;
  padding: 15px 30px;
}
@media (max-width: 970px), (max-height: 550px) {
  .title-wrap {
    font-size: 15px;
    padding: 5px 15px;
  }
}
@media (max-width: 700px), (max-height: 400px) {
  .title-wrap {
    font-size: 11px;
    padding: 3px 9px;
    border-width: 2px;
  }
}
@media (max-width: 550px), (max-height: 300px) {
  .title-wrap {
    font-size: 8px;
    padding: 1px 5px;
    border-width: 2px;
    border-radius: 0px 0px 7px 7px;
  }
}
@media (max-width: 400px) {
  .title-wrap {
    font-size: 6px;
    padding: 1px 3px;
  }
}
