@import "../../../../variables.scss";
.symbol {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.symbol button {
  font-family: $title-font;
  font-weight: bold;
  font-size: 35px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    text-shadow: 0px 0px 15px rgb(255, 0, 8);
  }
}

.symbol-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  background-color: $black-bg;
  border: $red-border;
  border-radius: 20px 20px 0 20px;
}
.symbol-options button {
  color: $font-color;
  &:hover {
    color: white;
  }
}
@media (max-width: 970px), (max-height: 550px) {
  .symbol-options {
    transform: translate(25%, 40%);
    background-color: rgba($black-bg, 0.9);
    border-radius: 0 20px 20px 20px;
  }
}
@media (max-width: 550px), (max-height: 300px) {
  .symbol button {
    font-size: 25px;
    width: 30px;
  }
  .symbol-options {
    transform: translate(25%, 40%);
    background-color: rgba($black-bg, 0.9);
    border-radius: 0 7px 7px 7px;
  }
}
