@import "../../../variables.scss";
.forgotPassword-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  color: goldenrod;
}
.forgotPassword-wrap h2 {
  font-family: $title-font;
  font-size: 40px;
  position: absolute;
  top: 15px;
  left: auto;
  color: $font-color;
  padding: 0 5px;
}

.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}
.forgotPassword p {
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  break-inside: auto;
  text-align: start;
  margin-bottom: 20px;
}
.forgotPassword input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $dark-red;
  border-radius: 7px;
  padding: 10px;
  margin: 7px 0;
  font-size: 20px;
  font-family: $main-font;
  color: $font-color;
}
.forgotPassword-button {
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 0, 0.2);
  color: $font-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 0, 0, 0.3);
  }
  &:active {
    background-color: rgba(255, 0, 0, 1);
  }
}
.forgotPassword-error {
  color: goldenrod;
  font-weight: bold;
  font-family: $main-font;
  font-size: 18px;
}
