@import "../../../variables.scss";
.myNote-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 20px;
  border: $red-border;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: red #00000000;
  background-color: rgba(255, 0, 0, 0.1);
}

.note-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;

  font-size: 20px;
  border: $red-border;
  border-width: 2px;
  border-radius: 10px;
  background-color: $black-bg;
  color: $font-color;
  font-family: $main-font;
  h2 {
    font-size: 27px;
    text-align: center;
    font-family: $title-font;
  }
  h3 {
    width: 60px;
    text-align: center;
    font-size: 40px;
    border: $red-border;
    border-width: 1px;
    border-radius: 10px;
    background-color: $black-bg;
  }
  .note-item-text {
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0 20px;
    & p {
      width: 100%;
      font-size: 17px;
      padding-right: 5px;
    }
  }
}
.note-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 5px 10px;
  font-size: 15px;
  border: $red-border;
  border-width: 1px;
  border-radius: 10px;
  background-color: $black-bg;
}

.options-button {
  padding: 0px 5px;
  border: $red-border;
  border-width: 2px;
  border-radius: 5px;
  background-color: $black-bg;
  color: $font-color;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: white;
    border-color: red;
  }
}
.dropdown {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-70px, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: $red-border;
  border-radius: 10px;
  border-width: 2px;
  background-color: black;
}
.dropdown button {
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: $font-color;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  &:nth-child(1) {
    border-bottom: 1px solid $dark-red;
  }
  &:hover {
    color: white;
  }
}
@media (max-width: 1300px), (max-height: 700px) {
  .myNote-wrap {
    width: 80%;
  }
}
@media (max-width: 970px), (max-height: 550px) {
  .myNote-wrap {
    width: 100%;
    padding: 2px;
    border-width: 2px;
  }
  .note-item {
    padding: 4px 10px;
    border-width: 1px;
    margin-bottom: 12px;
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 25px;
    }
    .note-item-text {
      margin: 0 5px;
      & p {
        width: 100%;
        font-size: 14px;
      }
    }
  }
  .note-info {
    margin: 0 8px;
    padding: 3px 8px;
    font-size: 12px;
  }
  .dropdown {
    transform: translate(-50px, 50%);
    width: 120px;
    button {
      font-size: 15px;
    }
  }
}
@media (max-width: 550px), (max-height: 300px) {
  .note-item {
    padding: 4px;

    margin-bottom: 9px;
    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 17px;
    }
    .note-item-text {
      margin: 0 4px;
      margin-right: 0;
      & p {
        width: 100%;
        font-size: 11px;
      }
    }
  }
  .note-info {
    margin: 0 2px;
    padding: 3px 5px;
    font-size: 7px;
  }
  .options-button {
    scale: 0.7;
  }
  .dropdown {
    transform: translate(-43px, 50%);
    width: 80px;
    height: 45px;
    button {
      font-size: 12px;
    }
  }
}
@media (max-width: 400px) {
  .note-item {
    h2 {
      font-size: 11px;
    }
    h3 {
      font-size: 12px;
      width: 30px;
    }
    .note-item-text {
      & p {
        width: 100%;
        font-size: 10px;
        line-height: 11px;
      }
    }
  }
  .note-info {
    display: none;
  }
}
