@import "../../../variables.scss";
.nick {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 12px;
  font-family: $title-font;
  color: $font-color;
  border: $red-border;
  border-top: none;
  border-right: none;
  border-radius: 0px 0px 0px 20px;
  background-color: $black-bg;
  border-width: 1px;
  padding: 5px 8px;
}
@media (max-width: 970px), (max-height: 550px) {
  .nick {
    font-size: 9px;
  }
}
@media (max-width: 700px), (max-height: 400px) {
  .nick {
    font-size: 7px;
    border-radius: 0px 0px 0px 5px;
    padding: 2px;
  }
}
@media (max-width: 550px), (max-height: 300px) {
  .nick {
    font-size: 5px;
  }
}
@media (max-width: 400px) {
  .nick {
    display: none;
  }
}
