@import "../../../variables.scss";
.wraps {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.titles {
  font-family: $title-font;
  font-size: 45px;
  position: absolute;
  top: 15px;
  left: auto;
  color: $font-color;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}
.inputs {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $dark-red;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-family: $main-font;
  color: $font-color;
}

.inputsEyes {
  position: relative;
  & input {
    padding-right: 40px;
  }
  & button {
    position: absolute;
    top: 53%;
    right: 10px;
    transform: translateY(-50%);
    color: $font-color;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.buttons {
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 0, 0.2);
  color: $font-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 0, 0, 0.3);
  }
  &:active {
    background-color: rgba(255, 0, 0, 1);
  }
}

.errors {
  color: $error-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 18px;
  text-transform: uppercase;
}
.login-wrap,
.register-wrap,
.forgotPassword-wrap {
  @extend .wraps;
}
.login-wrap h2,
.register-wrap h2,
.forgotPassword-wrap h2 {
  @extend .titles;
}
.forgotPassword-wrap h2 {
  font-size: 40px;
}

.forgotPassword,
.register,
.login {
  @extend .forms;
}
.login {
  margin-top: 140px;
}

.login input,
.register input,
.forgotPassword input {
  @extend .inputs;
}

.login .password,
.register .password,
.register .repeat-password {
  @extend .inputsEyes;
}

.login-button,
.register-button,
.forgotPassword-button {
  @extend .buttons;
}
.register-button {
  margin-top: 40px;
}
.forgotPassword-button {
  margin-top: 30px;
}

.forgotPassword-error,
.register-error,
.login-error {
  @extend .errors;
}

.forgotPassword p {
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  break-inside: auto;
  text-align: start;
  margin-bottom: 20px;
}

.register.registered {
  display: none;
}
.reg-successful {
  display: none;
}
.reg-successful.registered {
  display: block;
}
.reg-successful .reg-successful-text {
  color: $error-color;
  font-family: $main-font;
  font-weight: bolder;
  font-size: 22px;
  text-align: center;
}
.reg-successful .reg-successful-login {
  @extend .buttons;
}

@media (max-width: 1850px), (max-height: 800px) {
  .wraps {
    padding: 30px;
  }
  .titles {
    font-size: 40px;
    top: 10px;
  }
  .forms {
    margin-top: 40px;
  }
  .inputs {
    padding: 7px;
    font-size: 19px;
  }
  .buttons {
    margin-top: 20px;
  }
}
@media (max-width: 1600px), (max-height: 710px) {
  .wraps {
    padding: 20px;
  }
  .titles {
    font-size: 35px;
    top: 8px;
  }
  .forms {
    margin-top: 35px;
  }
  .inputs {
    padding: 5px;
    font-size: 17px;
  }
  .buttons {
    padding: 6px 16px;
    margin-top: 18px;
    font-size: 24px;
  }
  .errors {
    font-size: 16px;
  }
  .reg-successful .reg-successful-text {
    font-size: 20px;
  }
}
@media (max-width: 1200px), (max-height: 600px) {
  .wraps {
    padding: 15px;
  }
  .titles {
    font-size: 30px;
    letter-spacing: 2px;
    top: 5px;
  }
  .forms {
    margin-top: 30px;
  }
  .inputs {
    font-size: 15px;
    margin: 7px 0;
  }
  .buttons {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .errors {
    font-size: 14px;
  }
  .forgotPassword p {
    font-size: 15px;

    margin-bottom: 15px;
  }
  .reg-successful .reg-successful-text {
    font-size: 18px;
  }
}

@media (max-width: 820px), (max-height: 430px) {
  .wraps {
    padding: 12px 50px;
  }
  .titles {
    font-size: 25px;
    letter-spacing: 4px;
    top: 3px;
  }
  .forms {
    margin-top: 40px;
  }
  .inputs {
    font-size: 16px;
    margin: 2px 0;
    text-align: center;
  }
  .buttons {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .errors {
    font-size: 14px;
  }
  .inputsEyes {
    & input {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .reg-successful .reg-successful-text {
    font-size: 16px;
  }
}
@media (max-width: 770px), (max-height: 330px) {
  .forms {
    margin-top: 30px;
  }
  .inputs {
    font-size: 14px;
    margin: 2px 0;
    padding: 3px;
  }

  .errors {
    font-size: 12px;
  }
  .reg-successful .reg-successful-text {
    font-size: 14px;
  }
}
@media (max-width: 500px), (max-height: 300px) {
  .wraps {
    padding: 30px;
  }

  .forms {
    margin-top: 25px;
  }
  .inputs {
    font-size: 12px;
    margin: 2px 0;
    padding: 3px;
  }
  .buttons {
    padding: 4px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .errors {
    font-size: 11px;
  }
  .inputsEyes {
    & button {
      scale: 0.9;
    }
  }
  .reg-successful .reg-successful-text {
    font-size: 12px;
  }
}
@media (max-width: 400px), (max-height: 240px) {
  .wraps {
    padding: 15px;
  }
  .titles {
    font-size: 13px;
  }
  .forms {
    margin-top: 25px;
  }
  .inputs {
    font-size: 11px;
    margin: 1px 0;
    padding: 1px;
  }

  .errors {
    font-size: 9px;
  }
  .inputsEyes {
    & button {
      scale: 0.9;
    }
  }
  .reg-successful .reg-successful-text {
    font-size: 10px;
  }
}

@media (max-width: 550px) and (min-height: 350px) {
  .wraps {
    padding: 10px 20px;
  }
  .titles {
    font-size: 20px;
    letter-spacing: 4px;
    top: 3px;
  }
  .forms {
    margin-top: 10px;
  }
  .inputs {
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
  }
  .buttons {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .errors {
    font-size: 12px;
  }
}
@media (max-width: 550px) and (min-height: 450px) {
  .inputs {
    margin: 8px 0;
    font-size: 16px;
  }
  .buttons {
    font-size: 18px;
  }
  .errors {
    font-size: 14px;
  }
}

@media (max-width: 450px) and (min-height: 350px) {
  .wraps {
    padding: 10px 20px;
  }
  .titles {
    font-size: 20px;
    letter-spacing: 4px;
    top: 3px;
  }
  .forms {
    margin-top: 10px;
  }
  .inputs {
    font-size: 14px;
    padding: 5px;
    margin: 4px 0;
  }
  .buttons {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .errors {
    font-size: 12px;
  }
}
@media (max-width: 450px) and (min-height: 450px) {
  .inputs {
    margin: 7px 0;
    font-size: 15px;
  }
  .buttons {
    font-size: 17px;
  }
  .errors {
    font-size: 12px;
  }
}

@media (max-width: 350px) and (min-height: 350px) {
  .wraps {
    padding: 10px 20px;
  }
  .titles {
    font-size: 20px;
    letter-spacing: 4px;
    top: 3px;
  }
  .forms {
    margin-top: 10px;
  }
  .inputs {
    font-size: 14px;
    padding: 5px;
    margin: 4px 0;
  }
  .buttons {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .errors {
    font-size: 11px;
  }
}
@media (max-width: 350px) and (min-height: 450px) {
  .inputs {
    margin: 7px 0;
  }
  .buttons {
    font-size: 17px;
  }
  .errors {
    font-size: 12px;
  }
}
