@import "../../../variables.scss";
.wraps {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.titles {
  font-family: $title-font;
  font-size: 45px;
  position: absolute;
  top: 15px;
  left: auto;
  color: $font-color;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}
.inputs {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $dark-red;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-family: $main-font;
  color: $font-color;
}

.inputsEyes {
  position: relative;
  & input {
    padding-right: 40px;
  }
  & button {
    position: absolute;
    top: 53%;
    right: 10px;
    transform: translateY(-50%);
    color: $font-color;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.buttons {
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 0, 0.2);
  color: $font-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 0, 0, 0.3);
  }
  &:active {
    background-color: rgba(255, 0, 0, 1);
  }
}

.errors {
  color: $error-color;
  font-weight: bold;
  font-family: $main-font;
  font-size: 18px;
  text-transform: uppercase;
}
.login-wrap,
.register-wrap,
.forgotPassword-wrap {
  @extend .wraps;
}
.login-wrap h2,
.register-wrap h2,
.forgotPassword-wrap h2 {
  @extend .titles;
}
.forgotPassword-wrap h2 {
  font-size: 40px;
}

.forgotPassword,
.register,
.login {
  @extend .forms;
}
.login {
  margin-top: 140px;
}

.login input,
.register input,
.forgotPassword input {
  @extend .inputs;
}

.login .password,
.register .password,
.register .repeat-password {
  @extend .inputsEyes;
}

.login-button,
.register-button,
.forgotPassword-button {
  @extend .buttons;
}
.register-button {
  margin-top: 40px;
}
.forgotPassword-button {
  margin-top: 30px;
}

.forgotPassword-error,
.register-error,
.login-error {
  @extend .errors;
}

.forgotPassword p {
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  break-inside: auto;
  text-align: start;
  margin-bottom: 20px;
}
