* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  background: radial-gradient(
    closest-side,
    rgb(35, 0, 0) 65%,
    rgb(5, 0, 0) 100%
  );
  overflow: hidden;
  z-index: 1;
}
.grecaptcha-badge {
  z-index: 9999 !important;
}
